n8n2/Antares - Login1.json
{
  "active": false,
  "connections": {
    "MySQL": {
      "main": [
        [
          {
            "node": "Se Usuario Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se Usuario Existe": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-05T15:10:35.485Z",
  "id": "kR5ykw7oZ2UBup4W",
  "meta": null,
  "name": "Antares - Login1",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "loginDev",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "27ddf405-4354-4576-a7a3-ef04323f4006",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        640,
        280
      ],
      "webhookId": "3fcef53c-1a96-4718-923d-d9a96d228c97",
      "credentials": {
        "httpBasicAuth": {
          "id": "KVwabwX1Bd8qa0Zr",
          "name": "Basic Dev Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "tb_users",
          "mode": "list",
          "cachedResultName": "tb_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "dcEmail",
              "value": "={{ $json.body.email }}"
            },
            {
              "column": "password",
              "value": "={{ $json.body.password }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "idUser",
            "dcEmail",
            "bAtivo"
          ]
        }
      },
      "id": "449ca211-9d04-48b8-80ad-c735f7fb768d",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        860,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "UWP8XIUcGcIlyQvO",
          "name": "MySQL DBANTARES"
        }
      }
    },
    {
      "parameters": {},
      "id": "7b198b1f-05cb-46d4-9e9d-7e2b445e0680",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        620,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f68dced2-da7d-40bb-8303-f0d3b6b290ec",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1860,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.idUser }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e5eca4fc-d848-478a-974c-29664296f3d5",
      "name": "Se Usuario Existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        280
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "token",
              "stringValue": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a413b6ee-1e6f-46ad-9a5d-5c7876f01d0e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1540,
        180
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "token"
            }
          ]
        },
        "options": {}
      },
      "id": "71ea963e-01ab-4569-8551-3d30f82285b6",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1540,
        380
      ]
    },
    {
      "parameters": {
        "advancedClaimBuilder": true,
        "claimsJson": "=[{\n\"dcEmail\":\"{{ $json[\"dcEmail\"] }}\",\n\"idUser\":\"{{ $json[\"idUser\"] }}\",\n\"idUser\":\"{{ $json[\"bAtivo\"] }}\"\n}]"
      },
      "id": "700b3892-6bf2-462d-86b2-94bfd2ef47cd",
      "name": "JWT",
      "type": "n8n-nodes-jwt.jwt",
      "typeVersion": 1,
      "position": [
        1320,
        180
      ],
      "credentials": {
        "jwtSecret": {
          "id": "emrsOwVLoFgu9wpT",
          "name": "JWT Secret account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-01T14:12:34.808Z",
      "updatedAt": "2023-12-01T14:12:34.808Z",
      "id": "JPIKldP1Wsc9LBSf",
      "name": "ANTARES"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-12-05T15:15:18.188Z",
  "versionId": "83605c4d-8df8-422a-9a44-aec34fa2b6b8"
}