n8n2/apiBubblePostgres.json
{
  "active": true,
  "connections": {
    "Set to paid": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set hash senha 123456 usuario": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Testa Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testa Token": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ControlFields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ControlFields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "ControlFields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "ControlFields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-26T15:54:13.153Z",
  "id": "A3Wvz8OABmorh8fh",
  "meta": null,
  "name": "apiBubblePostgres",
  "nodes": [
    {
      "parameters": {},
      "id": "598c0a4a-c0ea-4640-9731-fda9a2ee93dc",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        340
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "Invoices",
          "mode": "list",
          "cachedResultName": "Invoices"
        },
        "options": {}
      },
      "id": "2a802500-ba7e-4dbb-99b3-f97225892dc0",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        840,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "o8VMQqqmVhkfst8C",
          "name": "Postgres WhaticketSM"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Users",
          "mode": "list",
          "cachedResultName": "Users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "super": false,
            "online": false,
            "name": "Maria dolores",
            "email": "md@email.com",
            "createdAt": "={{new Date().format('yyyy-MM-dd hh:mm:ss')}}",
            "tokenVersion": 99,
            "companyId": 1,
            "updatedAt": "={{new Date().format('yyyy-MM-dd hh:mm:ss')}}",
            "profile": "user",
            "passwordHash": "={{ $json.senha }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "passwordHash",
              "displayName": "passwordHash",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile",
              "displayName": "profile",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tokenVersion",
              "displayName": "tokenVersion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "super",
              "displayName": "super",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "online",
              "displayName": "online",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "10b864a7-a91b-46b6-b82e-6776c19d3037",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        420,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "o8VMQqqmVhkfst8C",
          "name": "Postgres WhaticketSM"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "Invoices",
          "mode": "list",
          "cachedResultName": "Invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.action }}",
            "companyId": "={{ $json.companyId }}",
            "id": "={{ $json.idFatura }}",
            "updatedAt": "={{new Date().format('yyyy-MM-dd hh:mm:ss')}}"
          },
          "matchingColumns": [
            "id",
            "companyId"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detail",
              "displayName": "detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "dueDate",
              "displayName": "dueDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "3d8e0b04-d95a-4718-af24-769b937c1ece",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1280,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "o8VMQqqmVhkfst8C",
          "name": "Postgres WhaticketSM"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "paid"
            },
            {
              "name": "companyId",
              "type": "numberValue",
              "numberValue": "2"
            },
            {
              "name": "idFatura",
              "type": "numberValue",
              "numberValue": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "0545a764-ce59-43c4-af35-6eb6d91830ca",
      "name": "Set to paid",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1060,
        320
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "senha",
              "stringValue": "$2a$08$5CUQsbg5NgbnLLRr5OyhzONBRBg4HAL4fekjCGTKuK.IrwId7014y"
            }
          ]
        },
        "options": {}
      },
      "id": "fa2fdd57-5600-4468-9f9a-42b99f338cda",
      "name": "Set hash senha 123456 usuario",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dbPostrgresAPI",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "6734107c-5802-471b-9a01-943b3c3828a1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        80,
        820
      ],
      "webhookId": "27242d1d-1f8d-454e-8ba1-3af16059fabb"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "accessKey",
              "stringValue": "55d2c9d9-1434-4f8f-80ec-0b37b653385e"
            },
            {
              "name": "accessKeySent",
              "stringValue": "={{ $json.body.Key }}"
            },
            {
              "name": "tpAcao",
              "stringValue": "={{ $json.body.tpAcao }}"
            },
            {
              "name": "tpEvento",
              "stringValue": "={{ $json.body.tpEvento }}"
            },
            {
              "name": "Query",
              "stringValue": "={{ $json.body.strQuery }}"
            },
            {
              "name": "table",
              "stringValue": "={{ $json.body.dcTable }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "f7a49c16-2b82-41c9-8bb3-37a1174da20f",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        280,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.accessKey }}",
              "value2": "={{ $json.accessKeySent }}"
            }
          ]
        }
      },
      "id": "fb1e85a0-5c71-4c9b-9679-b1e80019d9e5",
      "name": "Testa Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        820
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "transaction",
              "type": "booleanValue",
              "booleanValue": "false"
            },
            {
              "name": "resposta",
              "stringValue": "Chave de acesso inválida"
            }
          ]
        },
        "options": {}
      },
      "id": "69f37112-024b-49e4-b68a-0d96a9afbb9d",
      "name": "ControlFields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1660,
        820
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cb972d77-ec2f-4dcf-a425-4e931bb22cfe",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2380,
        700
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "transaction",
              "type": "booleanValue"
            },
            {
              "name": "resposta",
              "stringValue": "Ação realizada com sucesso"
            }
          ]
        },
        "options": {}
      },
      "id": "3d8b588b-5690-47de-b0d4-187cb4005f6f",
      "name": "ControlFields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1440,
        560
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.tpAcao }}",
        "outputsAmount": 5
      },
      "id": "85e237fb-a582-4177-b7de-37ea0fc25d6c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        660,
        580
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.Query }}",
        "options": {}
      },
      "id": "5c7e90a1-3723-4dc9-b0c7-c2928a93f4d0",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1100,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "o8VMQqqmVhkfst8C",
          "name": "Postgres WhaticketSM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Create an empty array goodsList\nlet ResultDB = [];\n\n\nfor (const item of $input.all()) {\n    ResultDB.push({\n       Users: item.json\n  });\n \n}\n\n//return $input.all();\n\n// Return an array containing a single item with a GoodsList field\nreturn [{\n  json: {\n    ResultDB: ResultDB\n  }\n}]\n"
      },
      "id": "1f570c33-8b85-4c40-97e5-9df7d8abc58a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Create an empty array goodsList\nlet ResultDB = [];\n\n\nfor (const item of $input.all()) {\n    ResultDB.push({\n       Users: item.json\n  });\n \n}\n\n//return $input.all();\n\n// Return an array containing a single item with a GoodsList field\nreturn [{\n  json: {\n    ResultDB: ResultDB\n  }\n}]\n"
      },
      "id": "1f4108a0-d512-4834-8afe-b9c629ab6f03",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        320
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "id",
              "stringValue": "=0"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "ff9aa17c-dc2b-496f-9dec-682ef941874e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1240,
        820
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-09T17:51:04.400Z",
      "updatedAt": "2024-01-09T17:51:04.400Z",
      "id": "3PHTothRK7PuJgdl",
      "name": "TESTES"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-09T17:51:05.654Z",
  "versionId": "9ff97ef9-d37c-45a7-a346-e33a25da9d09"
}