n8n2/JWT.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "JWT1",
            "type": "main",
            "index": 0
          },
          {
            "node": "JWT2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-04T21:48:29.311Z",
  "id": "uzo5mA9HRjxA2Hbp",
  "meta": null,
  "name": "JWT",
  "nodes": [
    {
      "parameters": {},
      "id": "a4968b0b-afe9-489a-bba4-4150bdfc0ce9",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "advancedClaimBuilder": true,
        "claimsJson": "=user:{{ $('Webhook').item.json[\"body\"][\"email\"] }},senha:{{ $('Webhook').item.json[\"body\"][\"senha\"] }}"
      },
      "id": "88eed3b0-d78f-41ea-8644-62e633188c56",
      "name": "JWT",
      "type": "n8n-nodes-jwt.jwt",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "credentials": {
        "jwtSecret": {
          "id": "emrsOwVLoFgu9wpT",
          "name": "JWT Secret account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sign",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b1d8c63a-0f42-419d-91b7-1a32db7ea787",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        120,
        300
      ],
      "webhookId": "8b738c0c-5712-4747-8170-a4950c1aeac8"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "96301c71-a635-4f1f-84ff-2020fc8ba4bc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "operation": "decode",
        "token": "=eyJhbGciOiJIUzI1NiJ9.W3sKImJBdGl2byI6IjEiLAoiZGNFbWFpbCI6ImFkbWluQGdyYW5hdG90ZWNub2xvZ2lhLmNvbSIsCiJkY1ByaW1laXJvTm9tZSI6IkFkbWluIiwKImRjVXNlck5vbWUiOiJBZG1pbmlzdHJhZG9yIiwKImlkUGVyZmlsIjoiMCIsCiJpZFVzZXIiOiIxIiwKIm5yQ1BGIjoiMTExOTk5MDAwNzciLAoibnJUZWxlZm9uZSI6IjIxOTY4MTgwNzM5IgogfV0.AAuPLTwuAFPb-CCmwIGftao7ojVJ0bqY5LhhbLWuf8k",
        "complete": true
      },
      "id": "d5d2c945-3f1a-418a-8e0a-bcf42666b6ec",
      "name": "JWT1",
      "type": "n8n-nodes-jwt.jwt",
      "typeVersion": 1,
      "position": [
        220,
        -160
      ],
      "credentials": {
        "jwtSecret": {
          "id": "emrsOwVLoFgu9wpT",
          "name": "JWT Secret account"
        }
      }
    },
    {
      "parameters": {},
      "id": "2234016a-be44-4560-a6f0-94182f562cb4",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        500,
        -120
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "signature",
              "stringValue": "={{ $json.signature }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31feb3a9-0f67-43e4-ae6e-7689bdb2e53e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        720,
        80
      ]
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "eyJhbGciOiJIUzI1NiJ9.QG50QHJlczM1MjA.3zWBh6VoyR538f9dYi9M5qBuSmgc0k5-GmIStVYnnXg",
        "complete": true,
        "ignoreExpiration": true
      },
      "id": "bec73493-2676-490c-a511-53873b936672",
      "name": "JWT2",
      "type": "n8n-nodes-jwt.jwt",
      "typeVersion": 1,
      "position": [
        260,
        80
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "notesInFlow": true,
      "executeOnce": true,
      "credentials": {
        "jwtSecret": {
          "id": "emrsOwVLoFgu9wpT",
          "name": "JWT Secret account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-09T17:51:04.400Z",
      "updatedAt": "2024-01-09T17:51:04.400Z",
      "id": "3PHTothRK7PuJgdl",
      "name": "TESTES"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-09T17:51:12.194Z",
  "versionId": "cf923597-df69-40db-beba-600892b00d2b"
}