n8n2/Serviço Leitura Email RHS.json
{
  "active": false,
  "connections": {
    "Gmail": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetEmailSelecionado1": {
      "main": [
        [
          {
            "node": "FTP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF8": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "FTP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "IF8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "SetEmailSelecionado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "IF9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF9": {
      "main": [
        [
          {
            "node": "FTP4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "NoOp5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP4": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-09T17:51:29.355Z",
  "id": "zyoJ118FNrfRf54w",
  "meta": null,
  "name": "Serviço Leitura Email RHS",
  "nodes": [
    {
      "parameters": {},
      "id": "72c05af4-0f0c-4ab1-a398-53e443915c56",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        40,
        640
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "96485ee5-d0c6-4f8b-8d48-e6589c2683d1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        160
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "has:attachment"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "552ebbcb-f6e7-467d-9809-2f2c19970735",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        320,
        640
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "WVVYvwWjbaVBO8Rq",
          "name": "Gmail account RHS"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_email",
              "value": "={{ $json.id }}"
            },
            {
              "name": "assunto",
              "value": "={{ $json.subject.replace(\"ENC:\",\"\").trim() }}"
            },
            {
              "name": "FilenameChange",
              "value": "={{$node[\"Gmail\"].binary.attachment_0.fileName.replace(\".txt\",\".xml\").trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d5bb105-72fb-46c6-b6fa-ba892054ff24",
      "name": "SetEmailSelecionado1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1080,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "\nmcontador = 1\n\nfor (const item of $input.all()) {\n\n  item.json.cont = mcontador;\n  mcontador = mcontador +1;\n  \n}\n\nreturn $input.all();"
      },
      "id": "89660225-d6fe-4f8c-b041-8fd570e536d6",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        520,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Split In Batches1\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "67001eb5-a4bb-4f93-9380-6835f83578dc",
      "name": "IF8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3700,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cockpit.granatotecnologia.com/webhook-test/gravaleadsMYSQLv3",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "=https://granatotecnologia.com/rhs/{{ $('SetEmailSelecionado1').item.json[\"FilenameChange\"] }}"
            },
            {
              "name": "FileName",
              "value": "={{ $node[\"Split In Batches1\"].binary.attachment_0.fileName.replace(\"txt\",\"\") }}xml"
            },
            {
              "name": "NomeFiltro",
              "value": "=teste"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7cb1efb5-0a54-4e28-b4d5-7924be1a17f4",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        400
      ]
    },
    {
      "parameters": {},
      "id": "46ca7581-e79c-430e-bd63-ce607cca1d0c",
      "name": "NoOp5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4160,
        620
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "95d4ff9e-43df-4de6-acbe-aa4933bea3fe",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3420,
        380
      ],
      "webhookId": "af41a398-afd5-47be-bd5e-9b4c36123eca"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d3d4c87c-4b46-49af-b541-c4c05316c486",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        740,
        640
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/domains/granatotecnologia.com/public_html/rhs/{{ $json[\"FilenameChange\"].trim() }}",
        "binaryPropertyName": "attachment_0"
      },
      "id": "91551ccd-33ad-48c0-aa33-7940fcf3f166",
      "name": "FTP1",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        1300,
        320
      ],
      "credentials": {
        "ftp": {
          "id": "ZvuA4bEpuODJKv6M",
          "name": "FTP account RHS"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "path": "=/domains/granatotecnologia.com/public_html/rhs/{{ $('SetEmailSelecionado1').item.json[\"FilenameChange\"] }}",
        "options": {}
      },
      "id": "71114625-d44f-4be3-8cf7-f5ce5ab6bfbf",
      "name": "FTP4",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        2540,
        300
      ],
      "executeOnce": true,
      "credentials": {
        "ftp": {
          "id": "ZvuA4bEpuODJKv6M",
          "name": "FTP account RHS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://granatotecnologia.com/rhs/{{ $('SetEmailSelecionado1').item.json[\"FilenameChange\"] }}",
        "options": {}
      },
      "id": "f484d021-6213-4685-80b6-24e8acd972f7",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        320
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "xml",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4574b75e-b9ce-48ff-b301-c90e0ca13e9b",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1700,
        320
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "xml",
        "options": {
          "attrkey": "$",
          "explicitRoot": true
        }
      },
      "id": "60123726-d0d9-46cf-99e2-cf71c47ad025",
      "name": "XML1",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1860,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ARQUIVO.REGISTRO.isEmpty() }}",
              "value2": true
            }
          ]
        }
      },
      "id": "86eb41f5-9666-4fd1-b77b-e93ff8cc32b9",
      "name": "IF9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2060,
        320
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('SetEmailSelecionado1').item.json[\"id_email\"] }}"
      },
      "id": "e7451f7d-b86f-4035-802e-25db13508db0",
      "name": "Gmail2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3200,
        380
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "WVVYvwWjbaVBO8Rq",
          "name": "Gmail account RHS"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "irineu.granato@montreal.com.br",
        "subject": "=Processamento RHS - {{ $now.setZone(\"UTC-3\").toFormat(\"dd/MM/yyyy\") }} - {{ $now.setZone(\"UTC-3\").toFormat(\"HH:mm\") }}",
        "message": "=Arquivos do dia {{ $now.setZone(\"UTC-3\").toFormat(\"dd/MM/yyyy\") }} - {{ $now.setZone(\"UTC-3\").toFormat(\"HH:mm\") }} processados com sucesso !",
        "options": {}
      },
      "id": "4fa23079-d0ea-4f8f-8c9a-26fe2a7b54af",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3960,
        620
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "WVVYvwWjbaVBO8Rq",
          "name": "Gmail account RHS"
        }
      }
    },
    {
      "parameters": {},
      "id": "4d9bfe78-f798-4356-ab81-58613b76f205",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3180,
        20
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-09T17:51:28.381Z",
      "updatedAt": "2024-01-09T17:51:28.381Z",
      "id": "B99pjxER5a7qRL6m",
      "name": "RHS"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-11T15:00:45.177Z",
  "versionId": "7da7d342-94e1-49e6-8195-18402182b32c"
}