n8n2/Teste Search.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-01-09T20:19:45.834Z",
  "id": "sHpSbECkIBbq4xrj",
  "meta": null,
  "name": "Teste Search",
  "nodes": [
    {
      "parameters": {},
      "id": "fedc3b0f-e5d6-4e72-bc5a-ede371426647",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const texto = \"Temos um call center, mas queremos construir: cinco atendimentos.\"\nconst wordIndex = texto.indexOf(\"aaaa\")\n\n\n\n\n\nif(wordIndex === 1){\n  $input.item.json.achou = 0;\n}\nelse {\n$input.item.json.achou = 1;\n}\nreturn $input.item;"
      },
      "id": "ebc3effd-621c-454b-ac8a-781ee783fc8d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        500
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "dcObjeto",
              "stringValue": "Prestacao de servicos de assessoria contabil para elaboracao de prestacoes de contas dos programas da secretaria municipal de educacao e fundo municipal de assistencia social de nova redencao/ba"
            },
            {
              "name": "Tags",
              "stringValue": "reden"
            }
          ]
        },
        "options": {}
      },
      "id": "c5161900-1e72-45d6-a9c4-628e48ca1005",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        740,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const ShoppingList = [\"Milk\", \"Butter\", \"Sugar\"];\n\nconsole.log(`Milk ${ShoppingList.includes(\"Milk\") ? \"is\" : \"is not\"} in the shopping list.`);\n\nconsole.log(`Eggs ${ShoppingList.includes(\"Eggs\") ? \"is\" : \"is not\"} in the shopping list.`);\n"
      },
      "id": "783924bd-5a3d-48da-a565-7acf14ee8a2e",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "//const sentence = 'The quick brown fox jumps over the lazy dog.';\n//const word = 'fox';\n\nconst sentence = $input.item.json.dcObjeto;\nconst word = $input.item.json.Tags;\n\n\n//console.log(`The word \"${word}\" ${sentence.includes(word) ? 'True' : 'False'} in the sentence`);\nconst resultado = (`${sentence.includes(word) ? 'true' : 'false'}`);\n$input.item.json.myNewField = resultado;\n\nreturn $input.item;"
      },
      "id": "367aae7a-6a5c-4578-b135-7f8f559a7016",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.myNewField = 1;\n\nreturn $input.item;"
      },
      "id": "079a1a4b-7071-43d1-8fdd-79446e86951b",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n\nreturn $input.item.json.dcObjeto;"
      },
      "id": "2c6cedcb-bf93-4789-b6ab-d8589a7ae704",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-10T15:53:52.672Z",
  "versionId": "49197c7c-70d7-45b9-acd6-790a3ab00681"
}